head
  title 今日のオカズ
  
template(name='layout')
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        span.mdl-layout-title 今日のオカズ
        span このボタンをアドレスバーにドラック&ドロップ
    +yield
