template(name='stockSuccess')
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      .mdl-layout__header-row
        i.material-icons autorenew
        span.mdl-layout-title 処理中…
